<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>


{{#if success}}
<div>{{{success}}}</div>
{{/if}}

{{#if images}}
{{#each images}}
<img data-toggle="modal" data-target="#example{{{id}}}" src="{{../path}}{{filename}}" alt="{{filename}}"/>


<div class="modal fade" id="example{{{id}}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
     <div class="modal-body">
 <center><img id="meme-image" src="{{../path}}{{filename}}" alt="{{filename}}"/></center>
 <form action="/postmeme" method="post">
 <input type="text" value={{id}} name="id" hidden>
 <div class="mt-1"><input type="text" name="top" class="container-fluid" placeholder="Top Text"></div>
 <div class="mb-1"><input type="text" name="bottom" class="container-fluid" placeholder="Bottom Text"></div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Save meme</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
</form>
    </div>
  </div>
</div>


{{/each}}
{{/if}}

